/data
/.DS_Store
/organized_data
/preprocessed_data
/split_data
/unseen_data
models v1/best_model.pth
models_v2/best_model.pth
models_v2/vit_multiclass.pth
models_v2/vit_multiclass_concat.pth
models_v2/vit_multiclass_concat_10_epoch.pth
models_v2/vit_multiclass_concat_nn_depth8_width16.pth
models_v2/vit_multiclass_concat_nn_depth8_width16_10_epoch.pth
models_v2/vit_binary_pretrained.pth
models_v2/vit_binary_custom.pth
